@font-face {
    font-family: "HeliosExtC";
    src: url("./fonts/HeliosExtC Regular.otf") format("otf");
}

.header {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

p {
    margin: 0;
}

ol, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.a1440 {
    max-width: 1440px;
    margin: auto;
}

.colorW {
    color: #FFFFFF;
}

.HeliosExtC {
    font-family: "HeliosExtC", sans-serif;
}

.Ag18 {
    font: normal 400 18px/22px "HeliosExtC", sans-serif;
}

.Ag24 {
    font: normal normal 24px/30px "HeliosExtC", sans-serif;
}

.Ag48 {
    font: normal 400 48px/60px "HeliosExtC", sans-serif;
}

a {
    text-decoration: none;
}

.upperText {
    text-transform: uppercase;
}

.backBlack {
    background-color: black;
}

.backWhite {
    background-color: #FFFFFF;
}

.firstScreen {
    padding: 0 20px;
    position: relative;
}

.topMenu {
    display: flex;
    margin: 50px auto;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mainLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.logoA {
    width: 224px;
    height: 51px;
    background: url("img/logo.svg") center center no-repeat;
    background-size: contain;
}

.languageSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #FFFFFF;
    margin: -2px 23px 0 0;
}

.language {
}

.languageText {
    transition: color, background-color .7s;
    color: #FFFFFF;
    background-color: transparent;
    display: block;
    width: 35px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.active, .languageText:hover {
    color: #A64DFF;
    background-color: #FFFFFF;
}

.navy {
    width: 38px;
    height: 25px;
    background: url("img/menu.svg") 0 0 no-repeat;
    background-size: contain;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    max-width: 1270px;
    margin: auto;
}

.virtual-word {
    width: 100%;
    height: 108px;
    background: url("/img/Virtual.svg") left center no-repeat;
    background-size: contain;
    margin: 12px 0;
}

.reality-word {
    width: 100%;
    height: 105px;
    background: url("img/Reality.svg") right center no-repeat;
    background-size: contain;
    margin: 16px 0;
}

.frame {
    margin: 0 0 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    min-width: 994px;
}

.opportunity {
    margin: 17px 0;
    letter-spacing: 2.3px;
    max-width: 240px;
}

.virtual {
    margin: 17px 0;
}

.reality {
    margin: 17px 0 0 auto;
}

.video {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 21px 0;
}

.playPanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 129px;
    right: 0;
    margin: auto;
    width: 180px;
    height: 140px;
}

.play {
    width: 120px;
    height: 120px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 30px 20px 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton {
    margin-left: 20px;
}

.watch {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 34px 3px 0;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.topPoster {
    width: 100%;
    height: 543px;
    object-fit: cover;
    max-width: 1439px;
}

.VR {
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    z-index: -1;
    margin: auto;
    max-width: 1474px;
    opacity: .3;
    display: flex;
}

.V {
    margin: 0 47px 0 0;
}

.R {
    margin: 0;
}

.scroll {
    width: 32px;
    height: 50px;
    background: url("/img/mouse.svg") right center no-repeat;
    background-size: contain;
    margin: 16px 0;
}

/* Screen 2*/
.whatDid {
    max-width: 288px;
    position: relative;
}

.doLinks {
    display: flex;
}

.whatDidWe {
    position: absolute;
    top: 0;
    left: 0;
}
