@font-face {
    font-family: "HeliosExtC";
    src: url("./fonts/HeliosExtC Regular.otf") format("otf");
}

.header, hr, .hide > h2 {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

p {
    margin: 0;
}

ol, ul, h1, h2, h3, dd {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}


/*Animation*/
/*.VirtualWordAnim {*/
/*    animation-name: FromRightAnim;*/
/*    animation-duration: 2s;*/
/*    animation-timing-function: ease-in;*/
/*}*/

/*.RealityWordAnim {*/
/*    animation-name: FromLeftAnim;*/
/*    animation-duration: 2s;*/
/*    animation-timing-function: ease-in;*/
/*}*/

.MouseAnimInit {
    opacity: 1;
}

.MouseAnim {
    animation-name: FromRightAnim;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes FromRightAnim {
    from {
        opacity: 0;
        /*transform: translateX(20px);*/
    }
    to {
        opacity: 1;
        /*transform: translateX(0);*/
    }
}

@keyframes FromLeftAnim {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.AppearInit {
    /*opacity: 0;*/
}

.AppearAnim {
    animation-name: Appear;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes Appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Animation*/
.a1440 {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
}

.colorW {
    color: #FFFFFF;
}

.colorGrey {
    color: #707070;
}

.colorGrey7 {
    color: #777777;
}

.colorGrey8 {
    color: #888888;
}

.colorViolet {
    color: #A64DFF;
}

.w100percents {
    width: 100%;
}

.HeliosExtC {
    font-family: "HeliosExtC", sans-serif;
}

.Ag14 {
    font: normal 400 14px/24px "HeliosExtC", sans-serif;
}

.Ag18 {
    font: normal 400 18px/22px "HeliosExtC", sans-serif;
}

.Ag24 {
    font: normal normal 24px/30px "HeliosExtC", sans-serif;
}

.Ag36 {
    font: normal normal 36px/42px "HeliosExtC", sans-serif;
}

.Ag48 {
    font: normal 400 48px/60px "HeliosExtC", sans-serif;
}

.Ag72 {
    font: normal 400 72px/86px "HeliosExtC", sans-serif;
}

.lineHeight24 {
    line-height: 24px;
}

.lineHeight30 {
    line-height: 30px;
}

.lineHeight40 {
    line-height: 40px;
}

.lineHeight30 {
    line-height: 30px;
}

.lineHeight44 {
    line-height: 44px;
}

/*Geometry*/
.mw235 {
    max-width: 235px;
}

/*Geometry*/

/*Decoration*/
.relative {
    position: relative;
}

.horizonLine, .verticalLine {
    position: relative;
}

.horizonLine::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 1px;
}

.verticalLine::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 50%;
    background-color: #C4C4C4;
    right: 0;
    margin: auto;
    bottom: 0;
}

/*Decoration*/
a {
    text-decoration: none;
}

.upperText {
    text-transform: uppercase;
}

.backBlack {
    background-color: black;
}

.page, .content, .main, .firstScreen {
    width: 100%;
}

.firstScreen {
    padding-top: 0;
}

.firstBack {
    max-width: 1920px;
    margin: auto;
    background: url("img/firstBack.svg") center 150px no-repeat;
    background-size: contain;
}

.backWhite {
    background-color: #FFFFFF;
}

.topMenu {
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mainLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.logoA {
    width: 224px;
    height: 51px;
    background: url("img/logo.svg") center center no-repeat;
    background-size: contain;
    display: block;
}

.languageSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #FFF;
    margin: 3px 23px 0 0;
}

.language {
}

.languageText {
    transition: color, background-color .7s;
    color: #FFFFFF;
    background-color: transparent;
    display: block;
    width: 35px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 10px;
}

.active, .languageText:hover {
    color: #A64DFF;
    background-color: #FFFFFF;
}

.navy {
    width: 38px;
    height: 25px;
    background: url("img/menu.svg") 0 0 no-repeat;
    background-size: contain;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    max-width: 1310px;
    margin: auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.virtual-word {
    width: 100%;
    height: 108px;
    background: url("/img/Virtual.svg") left center no-repeat;
    background-size: contain;
    margin: 12px 0;
}

.reality-word {
    width: 100%;
    height: 105px;
    background: url("img/Reality.svg") right center no-repeat;
    background-size: contain;
    margin: 16px 0;
}

.frame {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 78.3%;
}

.opportunity {
    margin: 17px 0;
    letter-spacing: 2.3px;
    max-width: 240px;
}

.virtual {
    margin: 17px 0;
}

.reality {
    margin: 17px 0 0 auto;
}

.video {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 21px;
    padding-bottom: 21px;
}

.playPanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 129px;
    right: 0;
    margin: auto;
    width: 180px;
    height: 140px;
}

.play {
    width: 120px;
    height: 120px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 30px 20px 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton {
    margin-left: 20px;
}

.watch {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 34px 3px 0;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.topPoster {
    width: 100%;
    height: 543px;
    object-fit: cover;
    max-width: 1439px;
}

.VR {
    position: absolute;
    left: 0;
    right: 0;
    top: -64px;
    z-index: -1;
    margin: auto;
    max-width: 1474px;
    opacity: .3;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.V {
    width: 48.6%;
}

.R {
    margin: 0;
    width: 46.9%;
}

.moveScreen {
    width: 32px;
    height: 50px;
    background: url("img/mouse.svg") right center no-repeat;
    background-size: contain;
    margin: 52px auto 44px 0;
    display: block;
}

/* Screen 2*/
.doInfoH2 {
    flex: 1 1 auto;
    max-width: 1440px;
    margin: auto;
}

.whatDo {
    max-width: 270px;
    flex: 1 1 auto;
    letter-spacing: 4.6px;
}

.doInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
}

.whatDid {
    position: relative;
}

.doLinks {
    display: flex;
    flex: 4.9 1 auto;
    justify-content: space-between;
    align-items: end;
}

.doli {
    padding: 0 0;
    width: 100%;
}

.doA {
    width: 100%;
    display: block;
    padding: 14px 0;
    letter-spacing: .7px;
    margin: 0 0 16px;
    border-bottom: 1px solid #707070;
    text-transform: uppercase;
}

.doLinksActive {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.whatDidWe:first-child {
    display: block;
}

.whatDidWe:first-child ~ .whatDidWe {
    display: none;
}

.whatDidWe:target {
    display: block;
}

.WhatDoImg {
    max-width: 1438px;
    height: 814px;
    object-fit: cover;
}

.doImages {
    margin: 26px auto 89px;
}

/*Screen 3*/
.Slides {
    max-width: 1700px;
    margin: auto;
    padding: 0 20px;
}

.screen3 {

}

.doLinks-project {
    padding: 71px 0 0;
    justify-content: flex-start;
    border-bottom: 1px solid #707070;
    max-width: 1440px;
    margin: auto;
}

.doli-projects {
    flex: 1 1 auto;
    max-width: 360px;
}

.doA-project {
    letter-spacing: 1.9px;
    margin-bottom: 0;
}

.inSlide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.outSlide {
    padding: 59px 0 72px;
    display: flex;
}

.arrowDirectionOut {
    height: 94px;
    width: 94px;
    align-self: center;
}

.outSlideH2 {
    padding: 22px 0 17px 0;
    letter-spacing: 2.1px;
}

.outSlideUl {
    padding: 7px 31px 44px 26px;
    max-width: 300px;
}

.outSlideLi {
    letter-spacing: 1.6px;
    padding: 0 5px 13px 16px;
    line-height: 30px;
}

.GoTo {
    display: block;
    letter-spacing: 1.8px;
    padding: 0 34px 0 0;
    max-width: 163px;
    background: url("img/arrow.svg") right center no-repeat;
    background-size: contain;
    margin: 37px 0;
}

.outSlideSet {
    max-width: 1080px;
}

.outSlideImages {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.arrowDirectionIn {
    height: 41px;
    width: 41px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.arrowLeftIn {
    left: 50px;
}

.arrowRightIn {
    right: 50px;
}

.outSlideBigImg {
    display: none;
    scroll-snap-align: start;
    max-width: 1080px;
    height: 450px;
    object-fit: cover;
}

.outSlideImg {
    height: 100%;
    width: 24.1%;
}

.outSlideBigImgAct {
    display: block;
    width: 100%;
}

/*Screen 4 Why VR*/
.Digits {
    max-width: 1920px;
    margin: -110px auto;
    padding: 110px 0;
    background: url("img/Digits.svg") center center no-repeat;
    background-size: 100%;
}

.WhyVRH2 {
    letter-spacing: 4.6px;
    padding-top: 75px;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1430px;
}

.digitsDigit {
    letter-spacing: 8.1px;
}

.digitsBig {
    font-weight: 700;
}

.digitsLi {
    flex: 1 1 auto;
    padding: 47px 0 44px;
}

.digits1 {
    flex: 10 10 250px;
}

.digits2 {
    flex: 10 10 250px;
}

.digits3 {
    flex: 10 10 250px;
}

.digits4 {
    flex: 9 10 250px;
}

.digitsLiUp {
    margin-top: -22px;
}

.digitsText {
    letter-spacing: 1.8px;
}

.digitsText1 {
    max-width: 200px;
}

.digitsText2 {
    max-width: 225px;
}

.digitsUp {
    margin: 8px 0 -7px 0;
}

/*Compare screen3*/

.Compare {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 13px 0 0;
}

.good {
    flex: 1 1 auto;
}

.bad {
    flex: 1 1 auto;
}

.goodH3, .badH3 {
    letter-spacing: 1.5px;
    margin: 21px 0;
}

.badH3 {
    margin-left: -14px;
}

.goodUl, .badUl {
    padding: 32px 37px 37px;
    column-count: 2;
    column-gap: 47px;
}

.badUl {
    margin: -12px 0 0 -32px;
}

.goodLi, .badLi {
    max-width: 296px;
    position: relative;
    letter-spacing: 1.7px;
    padding: 0 0 31px;
}

.goodLi::before, .badLi::before, .blueLine::before {
    content: '';
    position: absolute;
    top: 7px;
    bottom: 0;
}

.goodLi::before {
    background: url("img/burd.svg") center center no-repeat;
    background-size: contain;
    width: 18px;
    height: 14px;
    left: -36px;
}

.badLi::before {
    background: url("img/cross.svg") center center no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    left: -23px;
}

/*Compare screen3*/
/*Why to work with us?*/
.WhoWe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 46px;
    margin-bottom: 30px;
}

.faceGlasses {
    max-width: 1920px;
    margin: -60px auto;
    padding: 60px 0;
    background: url("img/VRvision.png") 44.5% 73.9% no-repeat;
    background-size: 53%;
}

.leftInfo, .rightInfo {
    flex: 1 1 auto;
    max-width: 360px;
}

.whyWork {
    max-width: 270px;
    padding: 72px 0;
    letter-spacing: 3.5px;
}

.WhoWeH3 {
    margin: -19px 0 18px;
    max-width: 320px;
    letter-spacing: 1.8px;
}

.WhoWeH2Right {
    max-width: 200px;
}

.WhoWeH3Right {
    max-width: 230px;
}

.WhoWeOl {
    padding: 0 0 0 46px;
}

.WhoWeOlLeft {
    max-width: 260px;
}

.WhoWeOlRight {
    max-width: 320px;
}

.WhoWeLi0 {
    line-height: 30px;
    padding-bottom: 10px;
    letter-spacing: 1.6px;
}

.WhoWeLi1 {
    letter-spacing: 1.9px;
}

.blueLine {
    position: relative;
}

.blueLine::before {
    height: 1px;
    width: 27px;
    background: #A64DFF;
    top: 20px;
    left: -45px;
}

.blueLineLi::before {
    left: -26px;
    top: 15px;
}

.WhoWeTex {
    letter-spacing: 2.1px;
}

/*screen 6*/
.BackWords {
    max-width: 1820px;
    margin: auto;
    background: url("img/VRbottom.svg") bottom center no-repeat;
    background-size: 79.6%;
    background-position-x: 0;
    padding-bottom: 11px;
}

.approach {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.approachOl {
    padding-top: 61px;
    flex: 0 0 auto;
}

.stepPartners {
    flex: 46 1 1096px;
    display: flex;
    flex-direction: column;
}

.steps {
    flex: 46 1 auto;
    margin: 40px 0;
    background: url("img/appraochSteps.svg") 19.5% 97.4% no-repeat;
    background-size: 73.8%;
    counter-reset: section;
}

.stepsP {
    line-height: 29px;
    letter-spacing: 1.7px;
}

.stepsBefore {
    position: relative;
}

.stepsBefore::before {
    position: absolute;
    top: -29px;
    left: 0;
    counter-increment: section;
    content: "0" counter(section);
    color: #A64DFF;
    font: normal 400 18px/30px "HeliosExtC", sans-serif;
    letter-spacing: 3px;
}

.one {
    margin: 46.3% auto auto 1.7%;
}

.two {
    margin: -33.5% auto auto 34.7%;
}

.three {
    margin: 9% auto auto 67.1%;
}

.four {
    margin: 19% auto auto 67.1%;
}

.five {
    margin: 4% auto auto 34.6%;
}

.approachH2 {
    max-width: 340px;
    letter-spacing: 3.7px;
}

.approachH3 {
    max-width: 230px;
    margin: 38px 0 47px;
}

.approachImg {
    max-width: 289px;
    height: 1011px;
    object-fit: contain;
}

.partnersSet {
    display: flex;
    flex-wrap: wrap;
    padding: 112px 0 0;
}

.partnersSetText {
    margin: 0 0 50px 0;
    letter-spacing: 3px;
}

.partnersSetH2 {
    flex: 1 1 100%;
    max-width: initial;
    padding: 80px 0 0;
}

.partnersSetTop {
    padding: 76px 0 0 19px;
}

.partners20H2 {
    min-width: 100%;
    padding: 25px 0 25px 6px;
}

.partnersSetIcons {
    flex-wrap: wrap;
    display: flex;
}

.partner {
    height: 170px;
    width: 220px;
}

.partner1 {
    background: url("img/partners.svg") 10px 0 no-repeat;
}

.partner2 {
    background: url("img/partners.svg") -211px 0 no-repeat;
}

.partner3 {
    background: url("img/partners.svg") -472px 0 no-repeat;
}

.partner4 {
    background: url("img/partners.svg") -710px 0 no-repeat;
}

.partner5 {
    background: url("img/partners.svg") -930px 0 no-repeat;
}

.partner11 {
    background: url("img/partners.svg") 10px 0 no-repeat;
}

.partner12 {
    background: url("img/partners.svg") -240px 0 no-repeat;
}

.partner13 {
    background: url("img/partners.svg") -470px 0 no-repeat;
}

.partner14 {
    background: url("img/partners.svg") -710px 0 no-repeat;
}

.partner15 {
    background: url("img/partners.svg") -930px 0 no-repeat;
}

.partners20 {
    display: flex;
    flex-direction: column;
}

/*screen 6*/
/*Why to work with us?*/
/*Footer*/
.forLine {
    max-width: 1960px;
    margin: auto;
    padding: 0 20px;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0 30px;
}

.logoA-bottom {
    background-position-x: 0;
    flex: 1.2 1 258px;
    margin: 40px 0;
}

.contacts {
    flex: 1 1 324px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.contactsLi {
    flex: 1 1 auto;
}

.contactsA {
    line-height: 17px;
    font-size: 25px;
    letter-spacing: 2px;
    display: block;
    min-width: 268px;
}

.copyRight {
    flex: .5 1 238px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.copyRightSpan {
    letter-spacing: 3.2px;
    display: block;
}

.address {
    flex: 1 1 296px;
    margin: 40px 0;
    max-width: 430px;
}

/*Footer*/

@media (max-width: 576px) {
    .one {
        margin: 50px 0;
    }

    .two {
        margin: 50px 0;
    }

    .three {
        margin: 50px 0;
    }

    .four {
        margin: 50px 0;
    }

    .five {
        margin: 50px 0;
    }

    .steps {
        background-size: 150%;
        background-position: center;
    }
}

@media (max-width: 1036px) {
    .steps {
        background-position-y: 67.4%;
    }

    .contactsA {
        line-height: 30px;
    }

    .goodLi, .badLi {
        max-width: initial;
    }
}

@media (max-width: 1480px) {
    .outSlideUl {
        max-width: initial;
    }

    .outSlideImages {
        display: none;
    }

    .arrowDirectionOut {
        margin-top: -65px;
    }

    .horizonLinePartners::before {
        width: 98%;
    }
}

@media (max-width: 1550px) {
    .horizonLineWhoWe::before {
        max-width: 95%;
    }

    .goodUl, .badUl {
        column-count: 1;
    }
}
